.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-bottom: 2px solid goldenrod;
    padding-left: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    margin-bottom: 2rem;
    text-align: center;
}